<header class="site-header">

  <a href="/dashboard" class="nav-link">Dashboard</a>

  <a href="/" class="app-title">â‚ŠâŠąThe LibraryâŠąâ‚Š</a>

  <a href="/about" class="nav-link">About</a>

</header>

<div class="title-decoration">
  âŹ”âŹ”âŹ”âŹ”âŹ”âŹ”âŹ”âŹ”âŹ”ę’°á§”ŕ·†á§“ę’±âŹ”âŹ”âŹ”âŹ”âŹ”âŹ”âŹ”âŹ”âŹ”
</div>

<script>
const activeElement = document.querySelector("#{{id}}");
if (activeElement) {
  activeElement.classList.add("active");
}
</script>