{{> menu}}

<section class="book-page">

  <h1 class="book-title">{{book.title}}</h1>

  <div class="book-info-box">
      <h3 class="book-author">by {{book.author}}</h3>

      <p class="book-description">
        {{book.description}}
      </p>
  </div>

<div class="back-button-container">
  <a href="/dashboard" class="back-button">← Back to Dashboard</a>
</div>

</section>