{{> menu}}

<section class="ui segment">
  <h1>{{title}}</h1>

  <div class="ui cards">
    {{#each genres}}
      <div class="book-card card">
        <div class="content">
<h3 class="genre-label">{{this}}</h3>
        </div>
        <div class="extra content">
          <a href="/genre/{{this}}" class="ui button">View</a>
        </div>
      </div>
    {{/each}}
  </div>
</section>