html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: serif;
  margin: 2em;
  background-image: url(background.png);
  background-size: cover;       /* make it fill the screen */
  background-position: center;  /* center the image */
  background-repeat: no-repeat; /* don’t repeat the image */
  background-attachment: fixed;
}

h1 {
  color: wheat;
  font-family: serif;
  text-decoration: underline;
}

.welcome-section {
    margin-top: 50px;
}

.welcome-text {
    font-size: 1.2em;
    margin: 30px 0 20px 0;
    color: wheat;
}

.welcome-image {
    width: 100%;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);
}

.go-dashboard {
    margin-top: 20px;
}

.ui.segment {
    margin: 40px auto;
    text-align: center;
}

.ui.segment, .book-card {
    background-color: rgb(20, 15, 9, 0.9);
    border-radius: 18px;
    padding: 20px;
    color: #333;
    box-shadow: 0 2px 6px rgba(0,0,0,1);
}

.ui.menu {
    background-color: rgb(20, 15, 9, 0.9);
    color: white;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,1); 
}

.ui.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.site-header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    width: 100%;
    margin: 40px 0 10px 0;
    padding: 15px 30px;
    background-color: rgba(20, 15, 9, 0.9);
    border-radius: 18px;
    box-shadow: 0 2px 6px rgba(0,0,0,1);
}

.nav-link {
    color: wheat;
    text-decoration: none;
    font-family: serif;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.7);
    padding: 10px 25px;
    border-radius: 12px;
    transition: all 0.3s;
    font-size: 1.6rem;
}

.nav-link:first-child {
    justify-self: start;   /* stick left link to left side */
}

.nav-link:last-child {
    justify-self: end;     /* stick right link to right side */
}


.nav-link:hover {
    color: white;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.7);
    text-shadow: 0 0 6px rgba(255,255,255,0.5);
}

.app-title {
    justify-self: center;
    font-size: 3.2rem;
    font-weight: bold;
    color: wheat;
    text-decoration: none;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.7);
}


.app-title:hover {
    color: white;
    transition: 0.4s;
}

.title-decoration {
    width: 100%;           /* stretch across screen */
    display: block;
    text-align: center;    /* keep the characters centered */
    font-size: 2.9rem;
    margin-top: 30px;
    margin-bottom: 40px;
    color: wheat;
    text-shadow: 0 2px 6px rgba(0,0,0,1); 
}

.footer-stats {
    color: wheat;
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    gap: 150px;
}

.footer-stats .statistic {
    text-align: center;
}

.footer-stats .value i {
    color: wheat;
    font-size: 2rem;
}

.footer-stats .label {
    margin-top: 5px;
    font-size: 1.1rem;
    color: wheat;
}

.book-card {
    background-color: rgb(245, 231, 208) !important;
    color: rgb(20, 15, 9);
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(40, 25, 10, 0.6) !important;
}

.genre-title {
    color: wheat;
    font-size: 1.4rem;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
    font-family: serif;
    text-decoration: underline;
}

.genre-label {
    color: rgb(20, 15, 9);
    font-size: 1.4rem;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    font-family: serif;
}
.book-page {
    max-width: 800px;
    margin:auto;
    text-align: center;
    padding: 40px;
}

.book-title {
    font-size: 2.6rem;
    color: wheat;
    margin-bottom: 10px;
}

.book-author {
    font-size: 1.3rem;
    color: wheat;
    font-style: italic;
    margin-bottom: 30px;
}

.book-description {
    font-size: 1.2rem;
    color: wheat;
    line-height: 1.6;
    margin-bottom: 40px;
}

.back-button-container {
    text-align: center;
    margin-top: 30px;
}

.back-button {
    color: wheat;
    text-decoration: underline;
    font-size: 1.1rem;
    text-align: center;
}

.back-button:hover {
    text-decoration: underline;
}

.book-info-box {
    background-color: rgb(20, 15, 9, 0.9);
    border-radius: 16px;
    padding: 20px 30px 30px 30px;
    margin: 30px auto;
    max-width: 700px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.9);
}

.book-info-box .book-author {
    color: wheat;
    font-style: italic;
    margin-bottom: 20px;
}

.book-info-box .book-description {
    color: wheat;
    line-height: 1.7;
}

a:hover {
    color: white;
    text-shadow: 0 0 6px rgba(255,255,255,0.5);
    transition: all 0.3s;
}

.ui.button,
.ui.basic.button {
    background-color: rgb(245, 231, 208) !important; /* cream */
    color: rgb(60, 30, 0) !important;              /* brown text */
    border: 2px solid rgb(60, 30, 0) !important;
}


.about-section {
    margin: 60px auto;
    max-width: 1000px;
    padding: 0 20px;
}

.about-layout {
    display: flex;
    align-items: stretch; 
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.about-image img {
    width: 280px;
    height: 100%;
    object-fit: cover;
    border-radius: 18px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.6);
}

.about-image img:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.about-text-box {
    background-color: rgba(20, 15, 9, 0.9);
    padding: 30px;
    border-radius: 18px;
    max-width: 550px;
    color: wheat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: serif;
    font-size: 130%;
    box-shadow: 0 4px 12px rgba(0,0,0,0.6);
}

.about-title {
    font-family: serif;
    margin-bottom: 15px;
    text-decoration: underline;
}

.about-footer {
    text-align: center;
    color: wheat;
    margin-top: 15px;
    margin-bottom: 90px;
    font-size: 130%;
}

.about-footer p {
    margin: 4px 0;
}